body {
  text-align: center;
  background-color: #222;
  color: white;
}

a {
  background: #ccc;
  color: #222;
  text-decoration: none;
  margin: 0.2em;
  padding: 0.2em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
